/* 
Reset CSS 
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #CAF0F8;
}
header{
    padding: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077B6;
    color: #ffffff;
    font-size: 1.5rem;
}

input{
    width: 7rem;
    height: auto;
    margin: 2rem;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intructions{
    padding: 2rem;
    font-size: 1.2rem;
}

.buttons{
    flex-direction: row;
    padding: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score{
    padding: 2rem 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
}